body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}

#mainNavbar {
  background-color: #169462;
  font-size: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#mainNavbar .navbar-brand {
  color: white;
  font-size: 1.75rem;
}
#mainNavbar .nav-link {
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

#mainNavbar .nav-link:hover {
  background-color: white;
  color: #169462;
}

.navbar-toggle {
  color: white;
}

.cover {
  filter: brightness(65%);
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/flowers.jpg");
  background-color: #ecede4;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.hr {
  width: 350px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2rem; 
}

h3 {
  font-size: 1.5rem;
}

.introSection {
  margin: 100px 30px;
  font-size: 1.25rem;
  border: 2px solid #169462;
  padding: 25px;
}

.intro::first-letter {
  font-family: "Antont", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #169462;
  float: left;
  line-height: 60px;
  padding-right: 8px;
  padding-left: 3px;
}

.profile {
  width: 45%;
  margin-right: 30px;
  float: left;
}

.content {
  font-size: 1.25rem;
  padding: 70px;
}

h2 {
  text-align: center;
  font-family: "Antont", sans-serif;
  font-weight: 600;
  color: #169462;
  font-size: 2.75rem;
}

h4 {
  text-align: center;
  font-family: "Antont", sans-serif;
  font-weight: 600;
  color: #169462;
}

p {
  line-height: 1.75;
  padding-bottom: 30px;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 46rem) {
  
  .introSection {
    margin: 100px 50px;
    font-size: 1.25rem;
    border: 2px solid #169462;
    padding: 80px;
  }

  .hr {
    width: 450px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  /* .profile {
    width: 40%;
    margin-right: 30px;
    float: left;
  }

  .content {
    font-size: 1.25rem;
    padding: 70px;
  } */

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

/*wide screen layout >= 90rem (1440px) */

@media screen and (min-width: 90rem) {
}